
//masolve sa z index ng mga flicker2 sa elements
//ang element nga muflicker, dapat below iyang div index sa
//element nga nagpaflicker
//kung di matabang, gamitan ug -webkit-transform: translate3d(0, 0, 0);

@keyframes shakeItOff {
	0%, 50%, 100% { transform: translateX(3px); } 
	25%, 75% { transform: translateX(-3px); } 
}

@-webkit-keyframes shakeItOff {
	0%, 50%, 100% { transform: translateX(5px); } 
	25%, 75% { transform: translateX(-5px); } 
}

@keyframes heartBeat {
	1% { transform: scale(1.2); color: #ffa500; } 
	23% { transform: scale(1); }
	24% { transform: scale(1.3); }
	50% { color: #ffa500; }
	70% { transform: scale(1); }
	100% { color: #ffffff; } 
}

@-webkit-keyframes heartBeat {
	1% { transform: scale(1.3); color: #ffa500; } 
	23% { transform: scale(1); }
	24% { transform: scale(1.3); }
	50% { color: #ffa500; }
	70% { transform: scale(1); }
	100% { color: #ffffff; } 
}

@keyframes wiggle {
	2% { transform: rotate(20deg); }
	4% { transform: rotate(-20deg); }
	6% { transform: rotate(20deg); }
	8% { transform: rotate(-20deg); }
	10% { transform: rotate(0deg); }
	
}

@-webkit-keyframes wiggle {
	2% { transform: rotate(20deg); }
	4% { transform: rotate(-20deg); }
	6% { transform: rotate(20deg); }
	8% { transform: rotate(-20deg); }
	10% { transform: rotate(0deg); }
}

.shakeItOff {
	-webkit-animation: shakeItOff .25s 1;
	animation: shakeItOff .25s 1;
}

.heartBeat {
	-webkit-animation: heartBeat 1.2s infinite;
	animation: heartBeat 1.2s infinite;
}

.wiggle {
	-webkit-animation: wiggle 5s infinite;
	animation: wiggle 5s infinite;
}

		.divButtonChat {
			position: fixed;
			bottom: 10px;
			right: 10px;
			background: #333333;
			width: 38px;
			height: 40px;
			border-radius: 4px;
			font-size: 22px;
			cursor: pointer;
			display: table;
			box-shadow: 0px 0px 2px 1px #101010;
			z-index: 8;
			
			-webkit-transition: color .1s, background .1s; /* For Safari 3.1 to 6.0 */
			transition: color .1s, background .1s, box-shadow .1s, transform .05s
		}
		
		.divButtonChat:hover {
			background: rgba(0, 0, 0, 0);
			box-shadow: 0px 0px 0px 0px #171717;
			transform: scale(1.2)
		}
		
		.divButtonChat2 {
			display: table-cell;
			vertical-align: middle
		}
		
		.divButtonChat2:hover {
			color: dodgerblue
		}
		
		.divButtonChat:active {
			transform: scale(1.1);
		}
		
		.divChat {
			background: #222222;
			border: none;
			right: 10px;
			bottom: 10px;
			position: fixed;
			width: 850px;
			height: calc(100% - 20px);
			/*min-height: 500px; causes fadetoggle problems*/
			display: none;
			border-radius: 4px;
			padding: 5px;
			box-shadow: 0px 1px 2px 1px #101010;
			z-index: 8
			/*background: linear-gradient(#292929, #202020);*/
		}

		.spanButtonCloseChat {
			background: #444444;
			width: 26px;
			height: 26px;
			border-radius: 4px;
			font-size: 14px;
			cursor: pointer;
			padding-top: 2px;
			
			-webkit-transition: color .1s, background .1s; /* For Safari 3.1 to 6.0 */
			transition: color .1s, background .1s, transform .05s
		}
		
		.spanButtonCloseChat:hover {
			background: rgba(0, 0, 0, 0);
			transform: scale(1.4);
			color: #FF4C4C
		}
		
		.spanButtonCloseChat:active {
			transform: scale(1.25);
		}
		
		.spanDisplayName {
			font-size: 17px;
			font-weight: bold;
			width: 405px;
			height: 25px;
			padding-top: 3px;
			display: inline-block;
		}
		
		span.displayName {
			padding-left: 6px;
			color: #60AFFE;
			text-shadow: 1px 2px 4px #171717;
		}
		
		span.displayName:hover {
			cursor: pointer;
		}
		
		.spanButtonSettings {
			float: right;
			background: #444444;
			width: 26px;
			height: 26px;
			border-radius: 4px;
			font-size: 16px;
			cursor: pointer;
			padding-top: 2px;
			
			-webkit-transition: color .1s, background .1s; /* For Safari 3.1 to 6.0 */
			transition: color .1s, background .1s, transform .05s
		}
		
		.spanButtonSettings:hover {
			background: rgba(0, 0, 0, 0);
			transform: scale(1.4);
			//color: #FFA500
		}
		
		.spanButtonSettings:active {
			transform: scale(1.25)
		}
		
		.spanButtonAddContact {
			float: right;
			background: #444444;
			width: 26px;
			height: 26px;
			border-radius: 4px;
			font-size: 16px;
			cursor: pointer;
			padding-top: 2px;
			margin-right: 5px;
			
			-webkit-transition: color .1s, background .1s; /* For Safari 3.1 to 6.0 */
			transition: color .1s, background .1s, transform .05s
		}
		
		.spanButtonAddContact:hover {
			background: rgba(0, 0, 0, 0);
			transform: scale(1.4);
		}
		
		.spanButtonAddContact:active {
			transform: scale(1.25)
		}
		
		.divReceiver {
			position: absolute;
			cursor: default;
			margin-top: 3px;
			padding-top: 7px;
			width: 450px;
			height: 33px;
			font-weight: bold;
			box-shadow: 1px 2px 2px #171717;
			z-index: 2;
			
			-webkit-backface-visibility: hidden;
			-webkit-transform-style: preserve-3d
		}
		
		.receiverName {
			padding-left: 6px;
		}
		
		.spanShowChatList {
			visibility: hidden;
			cursor: pointer;
			position: absolute;
			padding-top: 4px;
			right: 34px;
		}
		
		.ulChatList {
			visibility: hidden;
			padding: 0px;
			padding-top: 7px;
			padding-bottom: 8px;
			list-style-type: none;
			margin: 0px;
			position: absolute;
			top: 35px;
			right: 21px;
			text-align: left;
			width: 170px;
			background: linear-gradient(#313131, #232323);
			border-radius: 4px;
			box-shadow: 1px 1px 5px #171717;
		}
		
		.ulChatList:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 0 6px 7px;
			border-color: #313131 transparent;
			display: block;
			width: 0;
			z-index: 1;
			top: -7px;
			right: 11px;
		}
		
		.liChatList {
			padding-left: 12px;
			padding-top: 2px;
			padding-bottom: 2px;
			color: #dddddd;
			font-weight: normal;
			cursor: pointer;
		}
		
		.liChatList:hover {
			color: #fff;
		}
		
		.liChatList:hover .spanLiRemoveReceiver {
			visibility: visible;
		}
		
		.spanLiRemoveReceiver {
			visibility: hidden;
			padding-top: 3px;
			position: absolute;
			right: 10px;
		}
		
		.spanLiRemoveReceiver:hover {
			color: #ff4c4c;
			transform: scale(1.25);
		}
		
		.spanLiRemoveReceiver:active {
			transform: scale(1.1);
		}
		
		.spanShowChatList:hover {
			transform: scale(1.25);
		}
		
		.spanShowChatList:active {
			transform: scale(1.1)
		}
		
		.spanLiChatListEnvelope {
			display: none;
			padding-top: 4px;
			position: absolute;
			padding-left: 7px; 
			font-size: 12px; 
			color: #EDCB62; 
		}
		
		.spanRemoveReceiver {
			visibility: hidden;
			position: absolute;
			padding-top: 3px;
			right: 11px;
			font-size: 15px;
		}
		
		.spanRemoveReceiver:hover {
			color: #ff4c4c;
			transform: scale(1.25);
			cursor: pointer;
		}
		
		.spanRemoveReceiver2 {
			position: absolute;
			padding-top: 3px;
			right: 11px;
			font-size: 15px;
			color: #888888;
			cursor: default;
		}
		
		.spanRemoveReceiver:active {
			transform: scale(1.1)
		}
		
		.divChatMessages {
			position: absolute;
			width: 450px;
			max-height: 520px;
			bottom: 32px;
			overflow: auto;
			overflow-x: hidden;
			
			-webkit-backface-visibility: hidden;
			-webkit-transform-style: preserve-3d
		}
				
		.scrollbarChat::-webkit-scrollbar {
			width: 9px;
		}
		
		.scrollbarChat::-webkit-scrollbar-track {
		    background: #313131; 
		    -webkit-border-radius: 10px;
		    border-radius: 0 0 4px 4px;
		}
		 
		.scrollbarChat::-webkit-scrollbar-thumb {
		    -webkit-border-radius: 10px;
		    border-radius: 0 0 4px 4px;
		    background: #515151
		}
		
		.divBubble {
			cursor: pointer;
			margin-top: 5px;
			margin-bottom: 5px;
			max-width: 300px;
			word-wrap: break-word; 
			text-align: left;
			color: #000000;
			position: relative;
			display: inline-block;
			padding-left: 8px;
			padding-right: 8px;
			padding-bottom: 2px;
			padding-top: 0px;
			//background: #eeeeee;
			background: linear-gradient(#ffffff, #eeeeee, #a0a0a0);
			box-shadow: 0px 0px 4px 0px #202020;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 7px;
			border: #161616 solid 3px;
			
			transition: transform 0.05s
		}
		
		.divBubble:active {
			transform: scale(0.97);
		}
		 
		.divBubble1stPerson {
			float: left;
			clear: right;
			left: 5px;
		}

		.divBubble1stPerson:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 6px 7px 6px 0;
			border-color: transparent #ffffff;
			display: block;
			width: 0;
			z-index: 1;
			left: -6px;
			top: 5px;
			transition: transform 0.05s
		}
		
		.divBubble1stPerson:before {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 7px 8px 7px 0;
			border-color: transparent #161616;
			display: block;
			width: 0;
			z-index: 0;
			left: -11px;
			top: 4px;
		}
		
		.divBubble1stPersonClicked {
			float: left;
			clear: right;
			left: 5px;
			border: #777777 solid 3px;
		}
		
		.divBubble1stPersonClicked:before {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 7px 8px 7px 0;
			border-color: transparent #777777;
			display: block;
			width: 0;
			z-index: 0;
			left: -11px;
			top: 4px;
		}
		
		.divBubble2ndPerson {
			float: right;
			clear: left;
			right: 5px;
		}

		.divBubble2ndPerson:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 6px 0 6px 7px;
			border-color: transparent #ffffff;
			display: block;
			width: 0;
			z-index: 1;
			right: -6px;
			top: 5px
		}
		
		.divBubble2ndPerson:before {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 7px 0px 7px 8px;
			border-color: transparent #161616;
			display: block;
			width: 0;
			z-index: 0;
			right: -11px;
			top: 4px;
		}
		
		.divBubble2ndPersonClicked {
			float: right;
			clear: left;
			right: 5px;
			border: #777777 solid 3px;
		}
		
		.divBubble2ndPersonClicked:before {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 7px 0px 7px 8px;
			border-color: transparent #777777;
			display: block;
			width: 0;
			z-index: 0;
			right: -11px;
			top: 4px;
		}
		
		.textLeft {
			text-align: left
		}
		
		.ulChatMessages {
			padding-left: 0;
			list-style-type: none;
			width: 100%
		}
		
		.spanChatDisplayName1stPerson {
			color: #60AFFE;
			float: left;
			clear: both;
			padding-top: 9px;
			padding-left: 5px;
			padding-right: 5px
		}
		
		span.spanChatDisplayName1stPerson:hover {
			cursor: default;
		}
		
		.spanChatDisplayName2ndPerson {
			color: #FF4C4C;
			color: #dddddd;
			float: right;
			clear: both;
			padding-top: 9px;
			padding-left: 5px;
			padding-right: 10px;
		}
		
		span.spanChatDisplayName2ndPerson:hover {
			cursor: default;
		}
		
		.aChat {
			//color: #42647F;
			font-weight: bold
		}
		
		.aChat:visited {
			//color: #42647F;
		}
		
		.aChat:hover {
			color: #539ad7;
		}
		
		.inputChat {
			position: absolute;
			left: 10px;
			margin-bottom: 7px;
			bottom: 0px;
			width: 300px;
			border: 0px solid;
			outline-width: 0;
			background: transparent;
			color: #ededed
		}
		
		.divChatContacts {
			width: 235px;
			height: 278px;
			right: 0px;
			border-collapse: collapse;
			margin-top: 10px;
			position: absolute;
			margin-right: 5px;
			z-index: 1
		}
		
		.tableChat {
			width: 235px;
			border: none;
			text-align: left
		}
		
		.tableChat tr {
			border: none;
		}
		
		.tableChat thead th {
			padding-bottom: 4px;
			cursor: default;
			
			-webkit-backface-visibility: hidden;
			-webkit-transform-style: preserve-3d
		}
		
		.tableChat thead .thOnline {
			padding-left: 65px;
		}
		
		.tdList {
			padding-left: 5px;
			padding-top: 2px;
			padding-bottom: 2px;
			
			-webkit-backface-visibility: hidden;
			-webkit-transform-style: preserve-3d
		}
		
		.tdOnline {
			color: #dddddd;
			cursor: pointer
		}	
		
		.tdUser {
			color: #60AFFE;
		}
		
		.tdUser:hover {
			cursor: default;
		}
		
		.tdContactOption {
			text-align: right;
			cursor: pointer
		}
		
		.spanContactOption {
			cursor: pointer;
			visibility: hidden;
			
			-webkit-transition: color 0s, background 0s; /* For Safari 3.1 to 6.0 */
			transition: color 0s, background 0s, transform 0s
		}
		
		.spanContactOption:hover {
			background: rgba(0, 0, 0, 0);
			transform: scale(1.2)
		}
		
		.spanContactOption:active {
			transform: scale(1.25)
		}
		
		.spanAddContact {
			padding-bottom: 3px;
			padding-right: 6px
		}
		
		.spanAddContact:hover {
			color: #66CD00
		}
		
		.spanConverseContact {
			color: #222222;
		}
		
		.spanRemoveContact {
			padding-bottom: 5px;
			padding-right: 5px
		}
		
		.spanRemoveContact:hover {
			color: #FF4C4C
		}

		.divSettingsChat {
			display: none;
			width: 340px;
			height: 220px;
			background: #222222;
			position: fixed;
			top: 50%;
			left: 50%;
			margin: -110px 0 0 -170px;
			border-radius: 4px;
			box-shadow: 0px 1px 2px 1px #101010
		}
		
		.input-group {
			margin-left: 30px;
			margin-bottom: 20px;
			width: 240px
		}
		
		.input-group-btn {
			padding-left: 1px
		}

		.btn:disabled {
			cursor: pointer
		}
		
		.well {
			word-break: break-all
		}
		
		.hidden {
			display: none;
			visibility: hidden;
		}
		
		.convoCard {
			//background: #191919;
			background: #333333;
			margin: 3px;
			border-radius: 4px;
			text-align: left;
			cursor: pointer;
			padding-bottom: 4px;
			padding-top: 2px;
			box-shadow: 0px 1px 2px 1px #101010;
			z-index: 3;
		}
		
		.convoCardHover, .convoCard:hover {
			background: #444444;	
		}
		
		.paddingLeftSmall {
			padding-left: 2px;
			color: #909090;
		}		
		
		[draggable] {
		  -moz-user-select: none;
		  -khtml-user-select: none;
		  -webkit-user-select: none;
		  user-select: none;
		  /* Required to make elements draggable in old WebKit */
		  -khtml-user-drag: element;
		  -webkit-user-drag: element;
		}
		