
@font-face {
	font-family: paragonBlack;
	src: url(../res/fonts/paragonCleanersBlack.ttf);
}

body {
	background-color: #171717;
}

.main {
	transition: -webkit-filter 700ms;
}

.divNav {
	padding: 0px;
	padding-left: 5px;
	padding-right: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	top: 20px;
	position: fixed;
	width: 100%;
	height: 54px;
	z-index: 7;
	width: inherit;
	border-radius: 4px;
	transition: background .3s, box-shadow .3s;
}

.divNav.on {
	background: rgba(20, 20, 20, 0.6);
	box-shadow: 0px 1px 2px #202020;
}

.divNav.off {
	background: rgba(20, 20, 20, 0.0);
	box-shadow: 0px 0px 0px #202020;
}

.aNav {
	font-weight: bold;
	color: #ffffff
}

.aNav:visited {
	color: #ffffff
}

.aNav:hover {
	color: dodgerblue
}

.divLogo {
	float: left;
	height: 44px;
	padding-left: 8px;
	display: none
}

.spanLogoText {
	position: relative;
	top: -5px;
	font-family: 'paragonBlack';
	font-size: 45px;
	cursor: default
}

.spanLogo {
	margin: 0px;
	position: relative;
	top: -8px;
	padding-left: 3px;
	font-size: 40px;
	color: dodgerblue;
}

.divAnchors {
	float: right;
}

.ulNav {
	text-align: center;
	list-style-type: none;
	margin: 0px;
}

.liNav {
	height: 44px;
	vertical-align: middle;
	display: table-cell;
	padding-left: 12px;
	padding-right: 12px;
	clear: both;
}

nav {
	
}

.spanButton {
	font-size: 20px;
	cursor: pointer;
			
	-webkit-transition: color .1s, background .1s; /* For Safari 3.1 to 6.0 */
	transition: transform .07s
}
		
.spanButton:hover {
	transform: scale(1.18);
}

.spanButton:active {
	transform: scale(1.1);
}

.ulNavChild {
	visibility: hidden;
	padding: 0px;
	list-style-type: none;
	margin: 0px;
	position: absolute;
	top: 54px;
	text-align: left;
	width: 150px;
	right: 6px;
	background: #333333;
	border-radius: 4px;
	padding: 5px;
	padding-top: 8px;
	padding-bottom: 10px;
	background: linear-gradient(#383838, #222222);
	box-shadow: 1px 1px 10px #171717;
}

.ulNavChild:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 6px 7px;
	border-color: #383838 transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -7px;
	left: 126px;
}

.liNavChild {
	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #dddddd;
}

.liNavChild:hover {
	color: #ffffff;
	cursor: pointer;
}

.divOverseeOverlay {
	width: 100%;
	height: 100%;
	visibility: hidden;
	text-align: center;
	z-index: 8;
	position: fixed;
	top: 0px;
	left: 0px;
	vertical-align: middle;
	background: transparent;
}

.blur {
	filter: blur(1px) grayscale(80%);
	-webkit-filter: blur(1px) grayscale(80%);
}

.divOversee {
	background: #222222;
	padding: 10px;
	width: 850px;
	height: 550px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -275px 0 0 -425px;
	box-shadow: 2px 2px 6px 0px #171717;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 7px;
}

div {
	color: #ededed;
	text-align: center
}

h3 {
	text-align: center;
	padding-bottom: 30px
}

h4 {
	font-size: 24px;
	padding-top: 15px;
	padding-bottom: 15px
}

h5 {
	padding-bottom: 10px;
}

.form-control { 
	width: 250px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 15px
}

form { 
	padding-bottom: 20px
}

.alert { 
	width: 250px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 0 auto;
	margin-bottom: 20px
}

a:link {
	text-decoration: none;
	font-size: 15px
}

a:hover 	{ 
	text-decoration: none;
	color: #77ccff
}

a:visited { 
	text-decoration: none
}

.btn { 
	width: 80px
}

.well {
	text-align: left;
	background: #222222;
	border: none;
	height: 400px;
	overflow: auto;
	padding-bottom: 15px;
}

.left {
	text-align: left;
}

.page-header {
	border: none;
	margin-top: 0px;
}

.fc-black {
	color: #171717;
}

button:disabled {
	color: #a0a0a0;
}

header {
	width: 100%;
	height: 800px;
	text-align: center;
}

footer {
	text-align: center;
	color: #dddddd;
	background-color: #171717;
	height: 200px;
	width: 100%;
	
	/*background: -webkit-linear-gradient(#171717, #121212, #090909);
	background: -o-linear-gradient(#171717, #121212, #090909);
	background: -moz-linear-gradient(#171717, #121212, #090909);
	background: linear-gradient(#171717, #121212, #090909);*/
}

.spanFooterLogo {
	cursor: default;
	display: none
}

span.spanFooterLogo:hover > .spanFooterLogoGlobe {
	color: dodgerblue;
}

.spanFooterText1 {
	line-height: 25px;
	position: relative;
	top: 55px;
	color: #aaaaaa;
}

.spanFooterText2 {
	position: relative;
	top: 75px;
	color: #ffffff
}

.spanFooterLogoGlobe {
	position: relative;
	top: -1px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 18px;
	color: #ffffff;
	
	transition: color .2s;
}

.paragonBlack {
	font-size: 20px;
	font-family: 'paragonBlack';
	color: #ffffff;
}

.hidden {
	visibility: hidden;
}

img.bonfire {
	width: 100%;
	min-width: 1300px;
	height: 100%;
	display: none;
	box-shadow: 0px 2px 3px #000000
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
		
.select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}